<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a href="/" class="navbar-brand">Restaurant catalog</a> -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('list_all_restaurants') }}">Home</a></li>
                    {% if session.name %}
                    <li><a href="{{ url_for('register_restaurant') }}">New Restauran</a></li>
                    <!-- <li><a href="{{ url_for('list_all_restaurants') }}">All Restaurants</a></li> -->
                    {% endif %}
                </ul>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session.name %}
                    <li> <a>{{ session.name }}</a></li>
                    <li> <a href="/logout">Logout </a></li>
                    {% else %}
                    <li> <a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert-fix">
            <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">x</button>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Restaurant Catalog Project</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>

</html>